.barrier-container{
    position: absolute;
    background:Indigo  ;
    height: 40px;
    /* transition:top 0.05s linear; */
}
.cube-container{
    position: absolute;
    background:red;
    width: 40px;
    height: 40px;
}
.inner-game-container{
    position: relative;
    background: lightsteelblue;
    width: 760px;
    height: 100%;
    margin: 0 auto;
}
